<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <br><br><br>
            <li><a   [routerLink]="['/home/']" aria-expanded="false">
                <i class="flaticon-025-dashboard"></i>
                <span class="nav-text">Dashboard</span>
            </a> </li>
            <li><a [routerLink]="['/home/tourist']">
                <i class="flaticon-045-heart"></i>
                <span class="nav-text">List Tourist</span>
            </a></li>
            <li><a [routerLink]="['/home/admin-detail-atr']">
                <i class="flaticon-022-copy"></i>
                <span class="nav-text">List attraction</span>
            </a></li>
            <li><a [routerLink]="['/home/categories']">
                <i class="flaticon-022-copy"></i>
                <span class="nav-text">List Categories</span>
            </a></li>

            <li><a [routerLink]="['/home/reservation']">
                <i class="flaticon-022-copy"></i>
                <span class="nav-text">List Reservation</span>
            </a></li>


            <li><a [routerLink]="['/home/commentaire']">
                <i class="flaticon-045-heart"></i>
                <span class="nav-text">List Comments</span>
            </a>

        </li>


        <div>
            <div>
                <div>
                    <div> <br> <br> <br> <br> <br><br></div>
                </div>

                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="copyright">
            <p class="text-center"><strong>SeigtWise-Admin Guide touristique</strong> Developped By </p>
            <p class="fs-12 text-center">ISETT <span class="heart"></span>  Chetoui Iftikhar</p>
        </div>

