<div class="auth-wrapper">
  <div class="auth-card">
    <div class="logo-box">
      <img src="assets/logo.png" alt="JasmineTrip" />
    </div>

    <h2 class="title">Welcome Back Admin 🌸</h2>
    <p class="subtitle">Sign in to your JasmineTrip Admin Dashboard</p>

    <form [formGroup]="formlogin">
      <div class="form-group">
        <label><strong>Username</strong></label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          placeholder="Enter your username"
          required
        />
      </div>

      <div class="form-group">
        <label><strong>Password</strong></label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Enter your password"
          required
        />
      </div>

      <div class="form-options">
        <label class="remember">
          <input type="checkbox" /> Remember me
        </label>
        <a routerLink="/forget-password" class="forgot">Forgot password?</a>
      </div>

      <button
        type="button"
        class="btn-login"
        (click)="login()"
        
      >
        Sign In
      </button>

      
    
    </form>
  </div>
</div>
