<!-- ===== HEADER ===== -->
<header class="header slider-fade">
    <div class="owl-carousel owl-theme">
        <!-- Image background with overlay -->
        <div class="text-center item bg-img" data-overlay-dark="2"
            [style.background-image]="'url(http://localhost:8089/CATEGORY-SERVICE/attractions/files/' + attractionByid?.photos[0] + ')'">
            <div class="v-middle caption">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <ng-template #t let-fill="fill">
                                <span class="starr" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                </span>
                            </ng-template>

                            <ngb-rating [max]="5" [starTemplate]="t" [(rate)]="averageRating" [readonly]="true">
                            </ngb-rating>

                            <h4>{{attractionByid?.location}} – Top Attractions</h4>
                            <h1>{{attractionByid?.name}}</h1>
                            <div class="butn-light mt-30 mb-30">
                                <a href="#" data-scroll-nav="1"><span>Services & Leisure</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Contact / Reservation -->
    <div class="reservation">
        <a href="tel:+21626262262">
            <div class="icon d-flex justify-content-center align-items-center">
                <i class="flaticon-call"></i>
            </div>
            <div class="call">
                <span>+216 26 262 262</span> <br>Reservations
            </div>
        </a>
    </div>
</header>
<!-- ===== END HEADER ===== -->


<!-- ===== ABOUT SECTION ===== -->
<section class="about section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-30 animate-box" data-animate-effect="fadeInUp">
                <span>
                    <ng-template #t let-fill="fill">
                        <span class="starr" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [max]="5" [starTemplate]="t" [(rate)]="averageRating" [readonly]="true"></ngb-rating>
                </span>

                <div class="section-subtitle">{{attractionByid?.name}}</div>
                <div class="section-title">Enjoy an Immersive Experience</div>
                <p>Welcome to one of Tunisia’s finest attractions.</p>
                <p>{{attractionByid?.description}}</p>

                <!-- Call to Reserve -->
                <div class="reservations">
                    <div class="icon"><span class="flaticon-call"></span></div>
                    <div class="text">
                        <p>Reservations</p>
                        <a href="tel:+21626262262">+216 26 262 262</a>
                    </div>
                </div>
            </div>

            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="http://localhost:8089/CATEGORY-SERVICE/attractions/files/{{attractionByid?.photos[0]}}" alt=""
                    class="mt-90 mb-30">
            </div>
            <div class="col col-md-3 animate-box" data-animate-effect="fadeInUp">
                <img src="http://localhost:8089/CATEGORY-SERVICE/attractions/files/{{attractionByid?.photos[1]}}" alt="">
            </div>
        </div>
    </div>
</section>


<!-- ===== ATTRACTION DETAILS ===== -->
<section data-scroll-index="1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span>
                    <ng-template #t let-fill="fill">
                        <span class="starr" [class.full]="fill === 100">
                            <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                        </span>
                    </ng-template>

                    <ngb-rating [max]="5" [starTemplate]="t" [(rate)]="averageRating" [readonly]="true"></ngb-rating>
                </span>
                <div class="section-subtitle">{{attractionByid?.name}}</div>
                <div class="section-title">{{attractionByid?.location}}</div>
            </div>

            <div class="col-md-8">
                <p class="mb-30">{{attractionByid?.description}}</p>

                <div class="row">
                    <div class="col-md-6">
                        <h6>Opening Hours</h6>
                        <ul class="list-unstyled page-list mb-30">
                            <li>
                                <div class="page-list-icon"><span class="ti-check"></span></div>
                                <div class="page-list-text">
                                    <p>{{attractionByid?.opening_hour}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <h6>Closing Hours</h6>
                        <ul class="list-unstyled page-list mb-30">
                            <li>
                                <div class="page-list-icon"><span class="ti-check"></span></div>
                                <div class="page-list-text">
                                    <p>{{attractionByid?.closing_hour}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-12">
                        <h6>Pets</h6>
                        <p>Pets are allowed</p>
                    </div>

                    <div class="col-md-12">
                        <div class="butn-dark mt-15 mb-30">
                            <a href="#"><span>Check Availability</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 offset-md-1">
                <h6>Available Services</h6>
                <ul class="list-unstyled page-list mb-30">
                    <li *ngFor="let s of attractionByid?.services">
                        <div class="page-list-text">
                            <p>
                                <img src="http://localhost:8089/CATEGORY-SERVICE/attractions/files/{{s?.logo}}" alt=""
                                    class="dynamic-image"> {{s?.name}}
                            </p>
                        </div>
                    </li>
                    <div class="col-md-12">
                        <div class="butn-dark mt-15 mb-30" [routerLink]="['/details-service',attractionByid?.id]"
                            (click)="refreshPageWithDelay()">
                            <a><span>More Details</span></a>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- ===== RESERVATION FORM ===== -->
<section class="testimonials">
    <div class="background bg-img bg-fixed section-padding pb-0" data-background="assets/img/slider/2.jpg"
        data-overlay-dark="2">
        <div class="container">
            <div class="row">
                <!-- Info -->
                <div class="col-md-5 mb-30 mt-30">
                    <p><i class="star-rating"></i><i class="star-rating"></i><i class="star-rating"></i><i
                            class="star-rating"></i><i class="star-rating"></i></p>
                    <h5>Each of our destinations offers something special.</h5>
                    <div class="reservations mb-30">
                        <div class="icon color-1"><span class="flaticon-call"></span></div>
                        <div class="text">
                            <p class="color-1">Reservations</p>
                            <a class="color-1" href="tel:+21652016423">+216 26 262 262</a>
                        </div>
                    </div>
                    <p><i class="ti-check"></i><small>Call us — it’s free!</small></p>
                </div>

                <!-- Booking Form -->
                <div class="col-md-5 offset-md-2">
                    <div class="booking-box">
                        <div class="head-box">
                            <h6>Attraction & Services</h6>
                            <h4>Attraction Reservation</h4>
                        </div>
                        <div class="booking-inner clearfix">
                            <form [formGroup]="formreservation">
                                <div class="row">
                                    <div class="mb-3 pl-6">
                                        <div class="input1_wrapper">
                                            <label>Start Date:</label>
                                            <div>
                                                <input [min]="getCurrentDate()" formControlName="date_debut"
                                                    type="date" class="form-control input" placeholder="Check in">
                                                <div *ngIf="formreservation.get('date_debut').errors?.['required'] && formreservation.get('date_debut').touched"
                                                    class="text-danger">
                                                    Start date is required.
                                                </div>
                                                <div *ngIf="formreservation.get('date_debut').errors?.['invalidDate'] && formreservation.get('date_debut').touched"
                                                    class="text-danger">
                                                    The start date must be after today.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="input1_wrapper">
                                            <label>End Date:</label>
                                            <div>
                                                <input [min]="formreservation.get('date_debut').value"
                                                    formControlName="date_fin" type="date" class="form-control input"
                                                    placeholder="Check out">
                                                <div *ngIf="formreservation.get('date_fin').errors?.['required'] && formreservation.get('date_fin').touched"
                                                    class="text-danger">
                                                    End date is required.
                                                </div>
                                                <div *ngIf="formreservation.get('date_fin').errors?.['invalidEndDate'] && formreservation.get('date_fin').touched"
                                                    class="text-danger">
                                                    The end date must be after the start date.
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="select1_wrapper">
                                            <label>Services</label>
                                            <div class="select1_inner" style="position: relative;">
                                                <div (click)="toggleDropdown()" class="custom-select"
                                                    style="width: 100%">
                                                    {{ getSelectedServiceNames() || 'Select services' }}
                                                </div>
                                                <div *ngIf="dropdownOpen" class="dropdown-content">
                                                    <div *ngFor="let s of attractionByid?.services"
                                                        [class.selected]="isSelected(s.id)" class="dropdown-item">
                                                        <input style="display: none;" type="checkbox"
                                                            [id]="'service-' + s.id" [value]="s.id"
                                                            (change)="toggleServiceSelection($event, s.id)"
                                                            [checked]="isSelected(s.id)">
                                                        <label [for]="'service-' + s.id">{{ s.name }}</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div *ngIf="formreservation.get('services').touched && formreservation.get('services').errors?.['noServiceSelected']"
                                                class="text-danger">
                                                Please select at least one service.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <button (click)="addReservation()" type="submit"
                                            class="btn-form1-submit mt-15">Reserve</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ===== COMMENTS & REVIEWS ===== -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Display existing comments -->
                <div class="post-comment-section">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="news-post-comment-wrap"
                                *ngFor="let a of attractionByid?.comments.slice(0, displayedComments)">
                                <div class="post-user-comment">
                                    <img src="http://localhost:8089/SECURITY-SERVICE/user/files/{{a.tourist?.image}}"
                                        alt="">
                                </div>
                                <div class="post-user-content">
                                    <span>
                                        <ng-template #t let-fill="fill">
                                            <span class="starr" [class.full]="fill === 100">
                                                <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                                            </span>
                                        </ng-template>

                                        <ngb-rating [max]="5" [starTemplate]="t" [(rate)]="a.avis"
                                            [readonly]="true"></ngb-rating>
                                    </span>
                                    <h3>{{a.tourist?.username}}</h3>
                                    <p>{{ a?.content }}</p>
                                </div>
                            </div>

                            <div *ngIf="attractionByid.comments.length > displayedComments">
                                <a type="submit" (click)="loadMoreComments()" class="post-repay see-more-link">See more
                                    comments <strong
                                        style="background-color: black; border-radius: 5px;">&nbsp;{{displayedComments}}/{{attractionByid?.comments.length}}&nbsp;</strong>
                                </a>
                            </div>
                            <br><br>
                        </div>

                        <!-- Add a Comment -->
                        <div class="col-md-8 mb-30" style="background-color: rgba(237, 237, 232, 0.24);">
                            <form [formGroup]="form" method="post" class="row">
                                <div class="form-group">
                                    <label for="avis">Rating:</label>
                                    <ngb-rating formControlName="avis" id="avis" [(rate)]="avis"
                                        [max]="5"></ngb-rating>
                                </div>

                                <div>
                                    <textarea formControlName="content" name="content" id="content" cols="40" rows="4"
                                        placeholder="Write your comment here *" required></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button (click)="addAverageRating()" type="submit" class="butn-dark2">
                                        <span>Post Comment</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar (empty) -->
        </div>
    </div>
</section>
