.bt {
    width: 100%;
    background: #ffffff;
    /* margin-bottom: 15px; */
    height: 63px;
    border-radius: 0px;
    margin-top: 0px;
    cursor: pointer;
    padding: 2px;
    font-size: 15px;
    line-height: 28px;

    color: #222;
}

@import '~bootstrap/dist/css/bootstrap.min.css';

.btn-form1-submit {
    display: block;
    padding: 0;
    border: none;
    margin: 0;
    width: 100%;
    background: #aa8453;
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 15px;
    text-decoration: none;
    line-height: 62px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-out;
    letter-spacing: 3px;
    text-transform: uppercase;
     margin-left: 44px;
}

img.tail{
    width: 126px;
    height: 95px;
    border-radius: 10px;
}




  .selectt {
    width: 160px;
    max-width: 180px;
    height: 63px;
    padding: 0 30px;
    border: 1px solid #adadad;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.caption h1,
.caption h4,
.nav-link,
.navbar-brand {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7); /* dark outline */
}
.nav-link {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px 10px;
  border-radius: 8px;
  color: #000 !important;
  font-weight: bold;
}

.logo img {
  filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.6));
}
