<br>
<section class="rooms1 section-padding bg-cream" data-scroll-index="1">

    <div class="container">
        <h1>Gestion des Réservations</h1>
        <table class="reservations-table">
            <thead>
                <tr>
                    <th>ID RES</th>
                    <th>Attraction</th>
                    <th>Date de Réservation</th>
                    <th>Services</th>
                    <th> Additions</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of listtReservation">
                    <td>{{r.id}}</td>
                    <td>{{userConnect.username}}</td>
                    <td>{{r.date_debut}}</td>
                    <td>Room cleaning</td>
                    <td>Room cleaning</td>
                    <td>
                        <button  class="btn-edit" >Modifier</button>
                        <button class="btn-delete">Annuler</button>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</section>

